[submodule "cantarellaGra"]
	path = cantarellaGra
	url = https://github.com/grcecant/picmaker.git
[submodule "zhangAnn"]
	path = zhangAnn
	url = https://github.com/annazhang03/picmaker.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/00_picmaker.git
	branch = main
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk66_graphics.git
	branch = picmaker
