[submodule "cantarellaGra"]
	path = cantarellaGra
	url = https://github.com/grcecant/picmaker.git
[submodule "zhangAnn"]
	path = zhangAnn
	url = https://github.com/annazhang03/picmaker.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/00_picmaker.git
	branch = main
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk66_graphics.git
	branch = picmaker
[submodule "leeTri"]
	path = leeTri
	url = git@github.com:TristanLee187/00_picmaker.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/Graphics_00_Imagine-All-the-Pixels.git
	branch = main
[submodule "baiJia"]
	path = baiJia
	url = https://github.com/JJBai2003/CG
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/graphics_00_picmaker.git
	branch = main
[submodule "zhengCin"]
	path = zhengCin
	url = https://github.com/czheng10/00picmaker.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_picmaker.git
	branch = main
[submodule "picmaker_vs"]
	path = siuVic
	url = https://github.com/vs2961/picmaker_vs.git
	branch = main
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/graphics00.git
	branch = main
[submodule "linRay"]
	path = linRay
	url = https://github.com/RayLin10/picmaker.git
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/00_picmaker
	branch = main
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/00_picmaker.git
	branch = master
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/g1_picmaker
	branch = master
[submodule "chenLeo"]
	path = chenLeo
	url = https://github.com/LeoChen21/chenLeo
[submodule "yanVic"]
	path = yanVic
	url = https://github.com/vkyan10/000_picmaker.git
[submodule "liZhi"]
	path = liZhi
	url = https://github.com/zlicompgraphics/00_compgraphics.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work00_picmaker.git
	branch = main
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/00_picmaker_mks.git
	branch = main
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/00_Picmaker.git
	branch = main
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/00_picmaker_alex.git/
	branch = master
[submodule "miahFah"]
	path = miahFah
	url = https://github.com/fmiah10/picmaker.git
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/01_gfx.git
	branch = main
[submodule "weiIva"]
	path = weiIva
	url = https://github.com/iwei20/PicMaker.git
[submodule "ganHao"]
	path = ganHao
	url = https://github.com/haotianGan/ComputerGraphics1
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/00_picmaker_J.git
	branch = main
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/graphics-00.git
[submodule "yuNeh"]
	path = yuNeh
	url = https://github.com/Nyu10/00_Picmaker
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/00_Pixels.git
	branch = main
[submodule "farrellMax"]
	path = farrellMax
	url = https://github.com/maxffarrell/00picmaker.git
[submodule "wuYil"]
	path = wuYil
	url = https://github.com/YLW-105/00picmaker.git
[submodule "jooEth"]
	path = jooEth
	url = https://github.com/ejoo10/picmaker.git
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/00_picmaker
	branch = main
[submodule "donOsipov"]
	path = donOsipov
	url = https://github.com/Don-Osipov/ppm-picmaker
