[submodule "cantarellaGra"]
	path = cantarellaGra
	url = https://github.com/grcecant/picmaker.git
[submodule "zhangAnn"]
	path = zhangAnn
	url = https://github.com/annazhang03/picmaker.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/00_picmaker.git
	branch = main
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk66_graphics.git
	branch = picmaker
[submodule "leeTri"]
	path = leeTri
	url = git@github.com:TristanLee187/00_picmaker.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/Graphics_00_Imagine-All-the-Pixels.git
	branch = main
[submodule "baiJia"]
	path = baiJia
	url = https://github.com/JJBai2003/CG
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/graphics_00_picmaker.git
	branch = main
[submodule "zhengCin"]
	path = zhengCin
	url = https://github.com/czheng10/00picmaker.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_picmaker.git
	branch = main
[submodule "picmaker_vs"]
	path = siuVic
	url = https://github.com/vs2961/picmaker_vs.git
	branch = main
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/graphics00.git
	branch = main
